.container{
width:100dvw;
}

.wrapper{
margin-top: 7dvw;
}

p{
justify-items: center;
text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 1.75dvw;
font-weight: 600;
}

h5{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.75dvw;
	font-weight: 600;
}

#item_name{
font-size: 1.75dvw;
text-decoration: underline;
font-family: 'Limelight', sans-serif;
}