 <div class="link-wrap" id="menus">
    <div class="category drinks" routerLink="/drinks" routerLinkActive="active">
      <p>Drinks</p>
    </div>
    <div class="category sandwiches" routerLink="/sandwiches" routerLinkActive="active">
      <p>Sandwiches</p>
    </div>
    <div class="category soups" routerLink="/soups" routerLinkActive="active">
      <P>Soups</P>
    </div>
    <div class="category bakery" routerLink="/bakery" routerLinkActive="active">
      <p>Bakery</p>
    </div>
  </div>

