.link-wrap{
	margin-top:1vh;
	padding:0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 30dvw;	
}
 
.category {
	flex: 1;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: none;
	transition: flex 1s ease;
}
	
.category:hover{
	flex: 5;
	color-interpolation-filters:linearRGB;
	cursor: pointer;
}

p{
	margin:auto;
	font-family: 'Limelight';
	font-size: 3dvw;
	color: black;
	text-align: center;
	margin-top: 30dvw;
	border-bottom: 1px solid black;
}

.active{
	text-decoration: underline;
	text-decoration-color: var(--main-darkest-color);
}


.drinks { 
	background-image: url(https://cdn.wallpapersafari.com/47/40/KrkqQo.jpg);
 }
 
.sandwiches { 
	background-image: url(https://i.cbc.ca/1.3629470.1465583355!/fileImage/httpImage/image.jpg_gen/derivatives/original_780/primal-grounds-sandwich.jpg);
 }
 
.soups { 
	background-image: url(https://th.bing.com/th/id/OIP.dk9up-HYlo3UCyUZYhlTvAHaHa?pid=ImgDet&w=474&h=474&rs=1);
 }
 
.bakery { 
	background-image: url(https://th.bing.com/th/id/OIP._UbCaFHotqxkIaxalObsTAHaFj?pid=ImgDet&w=474&h=355&rs=1);
 }