<div class="container-fluid" id="navbar">
	<div class="card">
		<div class="card-body" >
		  <h5 class="card-title">Find us</h5>
		  <p class="card-text">0000 Canada Ave., Canada, CA, T0T0E0</p>
		  <a href="https://www.google.com/maps" target="_blank" rel="noopener" class="btn" >Directions</a>
		</div>
	 </div>
	 <div class="card">
		<div class="card-body">
			<h5 class="card-title">Hours of operation</h5>
			<p class="card-text">Monday to Friday<br>
			9:00am - 5:00pm
			</p>
		</div>
	 </div>
	 <div class="card">
		<div class="card-body">
			<h5 class="card-title">Contact us</h5>
			<p class="card-text">
				Phone: <a href="tel:+100-000-0000">000-000-0000</a><br>
				Email: <a href="mailto:DiDREst@any.com">DiDREst@any.com</a>
			</p>
			<a href="mailto:DiDREst@any.com" type="button" class="btn">Contact</a>
		</div>
	 </div>
</div>

