body{
	bottom: 0;
}
header{
	position:absolute;
	width: 100dvw;
	top:0%;
	left: 0%;
	padding: 0;
	margin: 0;
	display:list-item;
	background-color: rgba(255, 255, 255, 0.4);
	border-bottom: 1px solid black;
}

.hamburger{
	display: none;
	background: none;
	border: none;
	cursor: pointer;
	padding: 10px;
}

.bar{
	width: 25px;
	height: 2px;
	background-color: black;
	margin: 4px 0;
}

#logo {
	height: 4dvw;
	border-radius: 5px;
	opacity: 0.8;
	margin: 0.75dvw;
	}

.nav-link{
	padding: auto 1dvw;	
	font-size: 1.5dvw;
	font-family: 'Limelight';
	color: black;
}	

.nav-link:hover{
	text-decoration: underline;
	transition-duration: 0.5s;
}

#admin{
	background-color: transparent;
	color: black;
}

#menu{
	display: flex;
	list-style: none;
	margin: 0;
}
 
footer{
	width: 100dvw;
	bottom: 0;
	left: 0vw;
	margin-top: 5dvw;
	background-color: rgba(255, 255, 255, 0.4);
	border-top: 1px solid black;
	z-index: 1000vh;
}

#social{
	margin-left: 41%;
}

.social_logo {
height: 4dvw;
margin: 0.75dvw;
}

@media (max-width: 500px) {
	#header, #footer{
		margin: 0;
		bottom: 0;
	}
	
	.hamburger {
		display: block;
	}
	
	#menu {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 8vh;
		right: 0;
		background-color: rgba(255, 255, 255, 0.4);
		padding: 0;
	}
	
	#menu.active {
		display: flex;
		border: 1px solid black;
	}
}
 
 
 
 
 
 